<div style='margin: 0 20px;'>
  <p>You and the people you follow have starred <%= @starred.length %> repositories.</p>
  <p>You mostly star <%= @top_starred_languages.join(', ') %> repositories so here are some repositories starred by your followees with similar language interests.</p>
  <ul>
  <% @followee_starred.each do |followee| %>
    <li>
    <p><%= followee.first %></p>
    <%= followee[1].first[:repos].select { |repo| repo[:pushed_at] > (Time.now - 3.months) }.map { |repo| repo[:full_name] } if followee[1].first.is_a?(Hash)  %>
    </li>
  <% end %>
  </ul>
</div>

<div style="display: inline-block; vertical-align: top; margin: 0 20px;">
  <h3 style="width: 28em;">You and the people you follow share the following starred repositories in common:</h3>
  <ul>
  <% @shared_starred.each do |starred|  %>
    <li><%= starred.first %></li>
  <% end %>
  </ul>
</div>

